body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 400px; 
}
.wrapper {
    padding: 10px 15px;
    background-color: black;
}
.top_wrapper {
    padding-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #404040;
}
.logo {
    width: 40px;
    height: 40px;
}
.title_wrapper {
    text-align: center;
}
.title {
    font-family: "Menlo", monospace;
    font-size: x-large;
    font-weight: 700;
    margin: 0;
    color: white;
}
.sub_title {
    color: #bfbfbf;
}
.middle_wrapper {
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}
.toggle_container {
    margin:10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.toggle_wrapper {
    text-align: center;
}
.toggle_btn {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    color: #999999;
    cursor: pointer;
}
.toggle_btn:hover {
    opacity: 0.4;
}
.toggle_rocket {
    color: #999999;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}
.toggle_rocket:hover {
    color: #999999;
    opacity: 0.4;
}
